/* Colour Scheme: f9f7f7 dbe2ef 3f72af 112d4e
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
*/

a {
  color: #3f72af;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

a:hover {
  color: #112d4e;
}

body {
  background-color: #f9f7f7;
  color: #112d4e;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #3f72af;
  font-size: 5.5rem;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #3f72af;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3f72af;
}

hr {
  border: dotted #dbe2ef 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

p {
  line-height: 1.5;
}

/*********************** CLASS SELECTORS ***********************/
.badge-img {
  padding-top: 30px;
  padding-right: 30px;
  width: 15%;
}

.bob-img {
  background-color: #dbe2ef;
  border-radius: 10%;
  padding-top: 40px;
}

.btn {
   background: #3F72AF;
   background-image: -webkit-linear-gradient(top, #3F72AF, #112D4E);
   background-image: -moz-linear-gradient(top, #3F72AF, #112D4E);
   background-image: -ms-linear-gradient(top, #3F72AF, #112D4E);
   background-image: -o-linear-gradient(top, #3F72AF, #112D4E);
   background-image: linear-gradient(to bottom, #3F72AF, #112D4E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   margin-top: 30px;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.cloud-top {
  position: absolute;
  right: 500px;
  top: 40px;
}

.cloud-bottom {
  position: absolute;
  left: 450px;
  padding-top: 40px;
}

.consulting-img {
  float: left;
  margin-right: 20px;
  width: 25%;
}

.contact-me {
  margin: 40px auto 60px;
  width: 40%;
}

.container-top {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-middle {
  margin: 50px auto;
}

.container-bottom {
  background-color: #3f72af;
  padding: 50px 0 20px;
}

.copyright {
  color: #dbe2ef;
  font-size: 0.75rem;
  padding: 20px 0;
}

.eai-img {
  float: right;
  width: 35%;
}

.footer-link {
  color: #112d4e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #dbe2ef;
}

.intro {
  margin: auto;
  width: 40%;
}

.skill-row {
  margin: 30px auto;
  padding: 30px;
  text-align: left;
  width: 40%;
}
